[Unit]
Description=secbot service
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=2

[Service]
Type=simple
User=user
WorkingDirectory=/home/user/secbot/
ExecStart=/usr/bin/python3 /home/user/secbot/main.py
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=secbot

[Install]
WantedBy=multi-user.target
